<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zongshi.brush.mapper.MaterialArchiveMapper">

    <select id="selectWarningMaterials" resultType="com.zongshi.brush.entity.MaterialArchive">
        SELECT * FROM material_archive
        WHERE is_deleted = 0 AND stock_quantity &lt;= warning_quantity
        ORDER BY stock_quantity ASC
    </select>

    <select id="selectExpiringMoistureMaterials" resultType="com.zongshi.brush.entity.MaterialArchive">
        SELECT * FROM material_archive
        WHERE is_deleted = 0 AND is_moisture_sensitive = 1
        AND moisture_expire_date BETWEEN NOW() AND DATE_ADD(NOW(), INTERVAL #{days} DAY)
        ORDER BY moisture_expire_date ASC
    </select>

</mapper>
