.site-layout {
  min-height: 100vh;
  background: $bg-color;
}

.site-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

@media (max-width: 1400px) {
  .site-content {
    padding: 0 20px;
  }
}
