.booking-page {
  padding: 24px 0;
  min-height: 600px;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background: #1677ff;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background: #52c41a;
  border-color: #52c41a;
}
